spring:
  ai:
    deepseek:
      api-key: sk-deepseek
      base-url: http://111.228.60.179:5001
      chat:
        options:
          model: deepseek-chat-search
        completions-path: /v1/chat/completions

    openai:
      api-key: sk-4nU9k3QyVpX7wJgRz2t5sD1mA8oF6iE
      base-url: http://127.0.0.1:5002
      chat:
        options:
          model: grok-4.1
        completions-path: /v1/chat/completions