mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
    map-underscore-to-camel-case: true
  type-aliases-package: com.github.winefoxbot.model.entity
  type-aliases-super-type: java.lang.Object
  global-config:
    db-config:
      update-strategy: always
      insert-strategy: always

spring:
  sql:
    init:
      # 开启/关闭数据库初始化 (always, embedded, never)
      # always: 总是执行脚本
      # embedded: 只对内存数据库 (H2, HSQLDB, Derby) 执行
      # never: 从不执行
      mode: always
      # 如果初始化过程中发生错误，是否继续。建议设置为 false，以便及时发现问题。
      continue-on-error: false
      schema-locations: classpath:db/schema-postgres.sql
  datasource:
    #    driver-class-name: org.sqlite.JDBC
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    #    url: jdbc:sqlite:db/winefoxbot.db
    url: jdbc:postgresql://111.228.60.179:5432/winefoxbot
    username: postgres
    password: postgres123
    hikari:
      auto-commit: true
      connection-timeout: 30000
      maximum-pool-size: 10