<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 引入 Spring Boot 的默认配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- 1. 定义我们的 WebSocket Appender -->
        <appender name="WEBSOCKET" class="com.github.winefoxbot.core.config.logging.WebSocketLogAppender">
            <!-- 定义日志输出格式 -->
            <encoder>
                <pattern>
                    {
                    "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                    "level": "%level",
                    "thread": "%thread",
                    "logger": "%logger{36}",
                    "message": "%msg"
                    }%n
                </pattern>
            </encoder>
        </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="WEBSOCKET" />
    </root>

</configuration>
