<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.winefoxbot.core.mapper.ShiroGroupsMapper">

    <!-- 批量插入或更新 -->
    <insert id="insertOrUpdateBatch">
        INSERT INTO shiro_groups (
        group_id,
        group_name,
        group_avatar_url,
        self_id,
        member_count,
        max_member_count,
        group_level,
        last_updated
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.groupId},
            #{item.groupName},
            #{item.groupAvatarUrl},
            #{item.selfId},
            #{item.memberCount},
            #{item.maxMemberCount},
            #{item.groupLevel},
            <choose>
                <when test="item.lastUpdated != null">#{item.lastUpdated}</when>
                <otherwise>NOW()</otherwise>
            </choose>
            )
        </foreach>
        ON CONFLICT (group_id)
        DO UPDATE SET
        group_name = EXCLUDED.group_name,
        group_avatar_url = EXCLUDED.group_avatar_url,
        self_id = EXCLUDED.self_id,
        last_updated = EXCLUDED.last_updated,
        member_count = EXCLUDED.member_count,
        max_member_count = EXCLUDED.max_member_count,
        group_level = EXCLUDED.group_level
    </insert>

</mapper>
